@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@layer components {
  .nav:hover span:after {
    opacity: 1;
    transform: scaleX(1);
  }
  .nav-link:after {
    @apply bg-ffsgPink;
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    transform-origin: left center;
    transition: all 200ms ease-out;
    opacity: 0;
    transform: scaleX(0);
  }
}
